---
- name: Install monitoring dependencies
  apt:
    name: "{{ prosody_monitoring_packages }}"
  tags:
    - munin-node

- name: get latest version of prosody plugin for munin
  git:
    repo: https://github.com/t2d/munin-prosody.git
    dest: /usr/local/share/munin-prosody/
    accept_hostkey: "{{ __testing|default(False) }}"
  tags:
    - munin-node

- name: ensure munin prosody plugin is present
  file:
    src: /usr/local/share/munin-prosody/prosody_
    dest: "/etc/munin/plugins/prosody_{{ item }}"
    state: link
    owner: root
    group: root
    mode: 0777
  with_items:
    - c2s
    - s2s
    - mem
    - uptime
    - users
  notify: restart munin-node
  tags:
    - munin-node

- name: Allow munin to read prosody users
  copy:
    src: prosody.munin
    dest: /etc/munin/plugin-conf.d/prosody
    owner: root
    group: root
    mode: 0644
  tags:
    - munin-node
