---
- name: stop init.d prosody
  service:
    name: prosody
    state: stopped

- name: reload systemd
  systemd:
    daemon_reload: true

- name: reload prosody config
  systemd:
    name: prosody
    state: reloaded

- name: restart prosody
  systemd:
    name: prosody
    state: restarted

- name: stop prosody
  systemd:
    name: prosody
    state: stopped

- name: start prosody
  systemd:
    name: prosody
    state: started

- name: restart munin-node
  service:
    name: munin-node
    state: restarted

- name: restart saslauthd
  service:
    name: saslauthd
    state: restarted
