{
  "links": [
    {
      "rel": "urn:xmpp:alt-connections:xbosh",
      "href": "https://{{ prosody_vhost }}:5281/http-bind"
    },
    {
      "rel": "urn:xmpp:alt-connections:websocket",
      "href": "wss://{{ prosody_vhost }}:5281//xmpp-websocket"
    }
  ]
}
