#!/bin/bash
#
# script to find and purge inactive accounts

# set variables
declare -r older_than=2years
declare -r domain={{ prosody_vhost }}

# set argument defaults
list_users=true
clean_users=false

# parse arguments
for i in "$@"
do
case $i in
    -n|--no-list)
    list_users=false
    ;;
    -c|--clean)
    clean_users=true
    ;;
    *)
    echo "unknown options"
    echo "usage: -c to clean users"
    exit 1
    ;;
esac
done

# create initial list
inactive_users=$(/usr/bin/prosodyctl mod_list_inactive ${domain} ${older_than})

# iterate users
for username in $inactive_users; do

  # list users
  if [ "$list_users" = true ]; then
    echo "${username}"
  fi

  if [ "$clean_users" = true ]; then
    # delete user
    /usr/bin/prosodyctl shell user delete "${username}"
  fi
done

# TODO clean inactive users from permanent rooms & delete inactive rooms
