ldap_servers: {{ prosody_ldap_servers }}
ldap_search_base: {{ prosody_ldap_search_base }}

ldap_bind_dn: {{ prosody_ldap_bind_dn }}
ldap_bind_pw: {{ prosody_ldap_bind_pw }}

ldap_use_sasl: no
ldap_start_tls: no
ldap_auth_method: bind

ldap_filter: {{ prosody_ldap_filter }}

