---

package:
  prosody:
    installed: true

service:
  prosody:
    enabled: true
    running: true

command:
  prosodyctl check config | grep -v libevent:
    exit-status: 0
  prosodyctl check certs:
    exit-status: 0

  prosodyctl about:
    exit-status: 0
    stdout:
      {% for __test in prosody_goss_prosodyctl_about_versions -%}
      - {{ __test }}
      {% endfor -%}
